@use "../../common.scss" as common;

.product-container {
    @include common.flex(flex, column);
    .product-content {
        @include common.flex(flex, row, center, none);
        .price-block {
            @include common.flex(flex, row, flex-end, none);
            margin-right: 1rem;
            .price-form {
                width: 13rem;
            }
        }
        .product-list {
            display: grid;
            grid-template-columns: repeat(4, 23rem);
        }
    }
}
