@use "./common.scss" as common;

$width-height: 11rem;

.cart {
    display: flex;
    gap: 1rem;

    .title {
        width: 15rem;
    }
    .cart-media {
        @include common.background-image(1rem, 6rem, no-repeat, $width-height, $width-height);
    }
    .price {
        @include common.flex(flex, row);
    }
}
