.icon {
    animation: spin 1s linear infinite;
    color: white;
}

.icon.black {
    animation: spin 1s linear infinite;
    color: black;
    width: 48px;
    height: 48px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
